<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego域名管理平台</title>
  <script src="https://unpkg.com/vue@3.2.4/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <div class="container">
      <h2>Lego域名管理平台</h2>

      <!-- 申请域名证书 -->
      <div class="input-group mb-3">
        <span class="input-group-text">子域名</span>
        <input type="text" placeholder="*.subdomain" v-model="applyInfo.subDomain">
        <span class="input-group-text">.</span>
        <select v-model="applyInfo.rootDomain">
          <option v-for="(provider,domain) in domainProviderMapping" :value="domain">{{domain}}</option>
        </select>
        <button type="button" class="btn btn-success" :disabled="isApplyDisabled" @click="doApplyCert">申请 {{ fullDomain
          }} - {{ dnsProvider }}</button>
      </div>

      <!-- 展示域名证书 -->
      <div class="input-group mb-3">
        <span class="input-group-text">提示过期天数</span><input type="number" v-model="displayInfo.deltaDays">
        <button type="button" class="btn btn-warning" @click="doGetAllCert">刷新缓存</button>
      </div>
      <hr>
      <div>

        <!-- 展示表格 -->
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">domain</th>
                <th scope="col">notAfter</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="cert in certsMap" :key="cert.domain" :class="getClassColor(cert.not_after)">
                <td scope="row">{{ cert.domain }}</td>
                <td>{{ cert.not_after}}</td>
                <td>
                  <a :href="getDownloadURL(cert.domain)">
                    <button type="button" class="btn btn-success">下载</button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>


<script lang='ts'>
  const app = Vue.createApp({
    // 数据
    data() {
      return {
        BASE_URL: "",
        name: "zhangsan",
        applyInfo: {
          subDomain: "",
          rootDomain: ""
        },
        certsMap: {},
        displayInfo: {
          now: new Date(),
          deltaDays: 20,
        },
        domainProviderMapping: {}
      }
    },

    // 计算属性
    computed: {
      fullDomain() {
        return `${this.applyInfo.subDomain}.${this.applyInfo.rootDomain}`
      },
      isApplyDisabled() {
        return this.applyInfo.subDomain.length === 0
      },
      deadTime() {
        const deadtime = new Date()
        deadtime.setDate(deadtime.getDate() + this.displayInfo.deltaDays)

        // console.log("deadTime flushed")
        return deadtime
      },
      dnsProvider() {
        return this.domainProviderMapping[this.applyInfo.rootDomain]
      }

    },

    // 方法
    methods: {
      doApplyCert() {
        const uri = `${this.BASE_URL}/lego-certmgr/gen/alidns/${this.fullDomain}`
        // console.log(uri)
        axios.post(uri)
      },

      doGetAllCert() {
        const uri = `${this.BASE_URL}/lego-certmgr/list-all`
        // var that = this;
        axios.get(uri)
          .then((response) => {
            // console.log("response::::", response.data);
            this.certsMap = response.data.Data;
            // console.log("this.certsMap ===> ", this.certsMap);
          })
      },
      getDownloadURL(domain) {
        return `${this.BASE_URL}/lego-certmgr/query/${domain}/download`
      },
      getClassColor(expired) {
        const dtime = new Date(expired)
        if (dtime < this.deadTime) {
          return "table-danger"
        }
        return ""
      },
      async doGetDomainProviderMapping() {
        const uri = `${this.BASE_URL}/lego-certmgr/provider/map`
        await axios.get(uri)
          .then((response) => {
            this.domainProviderMapping = response.data.Data;

            // 设置默认值
            this.applyInfo.rootDomain = Object.keys(this.domainProviderMapping)[0];
          })
      },
      getProvider() {
        return this.domainProviderMapping[this.applyInfo.rootDomain]
      }

    },

    mounted: function () {
      this.doGetAllCert();
      this.doGetDomainProviderMapping();
    },

  })

  app.mount('#app')
</script>